body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: #1f2937;
}

.h-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 30px;
}

a {
    color: white;
    text-decoration: none;
}


.upper {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: white;
    padding: 150px;
}

.up-left{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.up-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}

.up-one{
    background-color:#1f2937;
    font-size: 48px;
    font-weight: 900;
}

.text {
    font-size: 18px;
}

button {
    align-self: flex-start;
}
