body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.img1 {
    height: 200px;
    width: 400px;
    border-radius:20px;
}

.img-cards {
    height: 200px;
    width: 130px;
    padding: 5px;
    border-radius:20px;
    border: 2px solid #6f93c7;
}

.header{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: #1f2937;
}

.h-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-family: helvetica, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 30px;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}


.upper {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: white;
    padding: 150px;
}

.up-left{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 10px;
}

.up-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    
}

.up-one{
    background-color:#1f2937;
    font-size: 48px;
    font-weight: 900;
    font-family: sans-serif;
}

.text {
    font-size: 18px;
    width: 600px;
}

.middle {
    display: flex;
    flex-direction: column;
}
.mid-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    font-family: sans-serif;
}
.mid-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; 
    padding-bottom: 50px;
}

.cards {
    width: 150px;
    text-align: center;
}

.mid-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    padding: 50px;
    gap: 10px;
}
.quotes {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: justify;
    width: 600px;
    color: #1f2937;
}
.source {
    width: 600px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    color: #1f2937;
    text-align: right;
}

.bottom {
    background-color: #3882F6;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: auto;
    margin: 100px 350px;
    font-family: sans-serif;
    font-size: 17px;
}
.bot-box {
    padding: 0 50px;
    display: flex;
    flex-direction: column ;
}
.text-bold {
    text-align: left;
    color: white;
    font-weight: bold;
}
.text-under {
    text-align: center;
    color: white;
}

.button-bot {
    margin-right: 50px;
}

button:hover {
    background-color: #0062ff;
    border: 1px solid #0062ff;
    border-radius: 8px;
}
button:active {
    background-color: #0062ff;
    box-shadow: 0 1px #0947aa;
    transform: translateY(3px);
}
button {
    align-self: flex-start;
    color: white;
    padding: 5px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 8px;
    box-shadow: 0 3px #0947aa;
    width: 100px;
}